<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-4">
    <p>
      <strong>Name:</strong>
      <%= @project.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @project.description %>
    </p>
    <!--
    <p>
      <strong>Active:</strong>
      <%= @project.active %>
    </p>
    -->
    <p>
      <strong>Obr치zek projektu:</strong>
      <%= image_tag @project.image_url %>
    </p>
  </div>
  <div class="col-md-8">
    <li class="list-group-item active">Bludi코콘치ci:</li> 
      <ul class="list-group">
      <% @project.worms.each do |worm|%>
        <li class="list-group-item"><%= worm.name %></li>
        
      <% end %>
    </ul>
  </div>
</div>
  
<div class="btn-group">
  <%= link_to  projects_path, class: "glyphicon glyphicon-circle-arrow-left btn btn-primary" do %>
          <%= t('Back') %>
  <% end %>
<!--<%= link_to t('Edit'), edit_project_path(@project) , {class: "btn btn-primary", role:"button"}  %>-->
</div>