<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @project.active %>
</p>

<p>
  <strong>Obrázek projektu</strong>
  <%= image_tag @project.image_url %>
</p>
<div class="btn-group">
<%= link_to t('Edit'), edit_project_path(@project) , {class: "btn btn-primary", role:"button"}  %>
<%= link_to t('Back'), projects_path , {class: "btn btn-primary", role:"button"}  %>
</div>