<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @worm.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @worm.description %>
</p>

<p>
  <strong>Project id:</strong>
  <%= @worm.project_id %>
</p>

<div class="btn-group">
<%= link_to t('Edit'), edit_worm_path(@worm) , {class: "btn btn-primary", role:"button"}%>
<%= link_to t('Back'), worms_path , {class: "btn btn-primary", role:"button"}%>
</div>