<!DOCTYPE html>
<html>
<head>
  <title>Railsgirls</title>
  <link rel="stylesheet" href="//railsgirls.com/assets/bootstrap.css">
<link rel="stylesheet" href="//railsgirls.com/assets/bootstrap-theme.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
</head>
<body>
  <header id="header">
  <div id="head" class="parallax" parallax-speed="2" style="background-position: 50% 0px;">
		<h1 id="logo" class="text-center">
      <%= image_tag "bludistak.jpg", class:"img-circle" %>
			<span class="title">Bludistak</span>
			<span class="tagline">A mystery pet<br>
			<a href="">anthony.russel42@example.com</a></span>
		</h1>
	</div>
  
<div class="navbar-collapse collapse">
				
				<ul class="nav navbar-nav">
          <li><%= current_user.name if current_user %></li>
          <li><%= link_to "FB", user_omniauth_authorize_path(:facebook) %></li>
          <li><%= link_to "TW", user_omniauth_authorize_path(:twitter) %></li>
          <li><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
          <li class="active"><%= link_to 'Home', @idea %></li>
					<li><%= link_to 'New Idea', new_idea_path %></li>
					<li><a href="about.html">About</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">More Pages <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="sidebar-left.html">Left Sidebar</a></li>
							<li><a href="sidebar-right.html">Right Sidebar</a></li>
							<li><a href="single.html">Blog Post</a></li>
						</ul>
					</li>
					<li><a href="blog.html">Blog</a></li>
				</ul>
			
			</div>
	</nav>
</header>
  
<div class="container">
<%= yield %>
</div>
  


  <%= render 'layouts/footer' %>
  
<script src="//railsgirls.com/assets/bootstrap.js"></script>
</body>
</html>
