<!DOCTYPE html>
<html>
<head>
  <title>Railsgirls</title>
  <link rel="stylesheet" href="//railsgirls.com/assets/bootstrap.css">
<link rel="stylesheet" href="//railsgirls.com/assets/bootstrap-theme.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
</head>
<body>
  <header id="header">
  <div id="head" class="parallax" parallax-speed="2" style="background-position: 50% 0px;">
		<h1 id="logo" class="text-center">
      <%= image_tag "bludistak.jpg", class:"img-circle" %>
			<span class="title">Bludistak</span>
			<span class="tagline">A mystery pet<br>
			<a href="">anthony.russel42@example.com</a></span>
		</h1>
	</div>
    <!-- zavolam menu ktere mam v samostatnem souboru -->
    <%= render 'layouts/menu' %>
	</nav>
</header>

<div class="container">
<%= yield %>
</div>

<footer>
  <div class="container">
    Rails Girls 2014
  </div>
</footer>

<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3 widget">
				<h3 class="widget-title">Contact</h3>
				<div class="widget-body">
					<p>+234 23 9873237<br>
						<a href="mailto:#">some.email@somewhere.com</a><br>
						<br>
						234 Hidden Pond Road, Ashland City, TN 37015
					</p>
				</div>
			</div>

			<div class="col-md-3 widget">
				<h3 class="widget-title">Follow me</h3>
				<div class="widget-body">
					<p class="follow-me-icons">
            <a href="https://twitter.com/iff_11">iff_11</a>
						<a href=""><i class="fa fa-twitter fa-2"></i></a>
						<a href=""><i class="fa fa-dribbble fa-2"></i></a>
						<a href=""><i class="fa fa-github fa-2"></i></a>
						<a href=""><i class="fa fa-facebook fa-2"></i></a>
					</p>
				</div>
			</div>


  <%= render 'layouts/footer' %>

</body>
</html>
